th,td {
    text-align: left;
}

.timed{
    width: 110px;
    background-color: #6c757d; 
    color: white;
}

.widthed{
    width: 110px;
    cursor:pointer;
}

.workEvent{
    background-color: #739BD5;
}
.reccurrentEvent{
    background-color: #739BD5;
}
.breakEvent{
    background-color: #739BD5;
}

