th,td {
    text-align: left;
}

.timed{
    width: 110px;
    background-color: #6c757d; 
    color: white;
}

.widthed{
    width: 110px;
    cursor:pointer;
}

.half-timed{
    width: 50px;
    background-color: #6c757d; 
    color: white;
}


