<main>
  <div class="card mb-2">
    <div class="card-body">

      <div class="row text-center">
        <div class="col">
          <button type="button" class="btn btn-primary btn-sm m-2" (click)="decaleDate(-1)">Prev </button>
          <button type="button" class="btn btn-secondary btn-sm m-2" (click)="decaleDate(1)" >Next</button>
          <input type="date" name="datetime" (change)="updateCalendar()" [(ngModel)]="selectedDate"/>
        </div>
        <div class="col">
          <div class="pull-right">
            <button type="button" class="btn btn-primary btn-sm m-2" (click)="today()">Aujourd'hui</button>
            <button type="button" class="btn btn-default btn-sm m-2"><a >Chrono / jour</a></button>
            <button type="button" class="btn btn-secondary btn-sm m-2"><a>Chrono / semaine</a></button>


            <button type="button" class="btn btn-secondary btn-sm"><a >Agenda</a></button>
          </div>
        </div>
      </div>
      <app-calendar [selectedDate]="selectedDate"></app-calendar>
    </div>
  </div>
</main>