<app-header></app-header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
                <div class="row mt-2">
                  <div class="col-sm">
                    <div class="float-left">
                        <button type="button" class="btn btn-warning mr-2">Aujourd'hui</button>
                        <button type="button" class="btn btn-default mr-2"><</button>
                        <button type="button" class="btn btn-default mr-2">></button>
                    </div>
                  </div>
                  <div class="col-sm">
                    
                  </div>
                  <div class="col-sm">
                    <div class="btn-group justify-content-end">
                        <a href="#" class="btn btn-warning active" aria-current="page">Day</a>
                        <a href="#" class="btn btn-warning">Week</a>
                        <a href="#" class="btn btn-warning">Month</a>
                        <a href="#" class="btn btn-warning">Year</a>
                        <a href="#" class="btn btn-warning">Agenda</a>
                        <a href="#" class="btn btn-warning">Timeline</a>
                      </div>
                  </div>
                </div>
<br>



      <!-- Default box -->
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 5%">
                         Team members
                         <tr><th></th></tr>
                      </th>
                      <th style="width: 50%;text-align: center;" >
                        Monday
<tr>
    <th style="width: 10%" >
        8:00
    </th>
    <th style="width: 10%" >
        9:00
    </th>
    <th style="width: 10%" >
        10:00
    </th>
    <th style="width: 10%" >
        11:00
    </th>
    <th style="width: 10%" >
        12:00
    </th>
    <th style="width: 10%" >
        13:00
    </th>
    <th style="width: 10%" >
        14:00
    </th>
    <th style="width: 10%" >
        15:00
    </th>
    <th style="width: 10%" >
        16:00
    </th>
    <th style="width: 10%" >
        17:00
    </th>
    <th style="width: 10%" >
        18:00
    </th>
</tr>
                     </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          <a>
                              Mark 
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2019
                          </small>
                      </td>
                      <td>
                       <tr>
                        <td style="width: 10%;background-color: #ffc107;border-radius: 20%;" >
                          Breakfast
                        </td>
                        <td style="width: 10%;background-color: #ff6207; border-radius: 20% 0% 0% 20%;">
                            Work
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207; border-radius: 0% 20% 20% 0%;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #f2f2f2;" >
                         
                        </td>
                        <td style="width: 10%;background-color:#0749ff;color: aliceblue ;border-radius: 1ch;">
                         Break
                        </td>

                       </tr>
                    </td>
                   
                  </tr>
                  <tr>
                      <td>
                          <a>
                              John
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2015
                          </small>
                      </td>
                     
                  </tr>
                  <tr>
                      <td>
                          <a>
                              Sana
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2018
                          </small>
                      </td>
                    
                  </tr>
                  <tr>
                      <td>
                          <a>
                              Ines
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2021
                          </small>
                      </td>
                     
                  </tr>
                  <tr>
                      <td>
                          <a>
                              Sone
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2020
                          </small>
                      </td>
                     
                  </tr>
                 
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
</div>


<app-footer></app-footer>
