<style>
  .timeclass {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>
    <section class="content">
        <div class="container-fluid">
            <br>
<div style="text-align: center">
    <div class="row mt-2 ml-5">
        <div class="col-sm">
          <div class="float-left">
              <button type="button" class="btn btn-warning mr-2">Today</button>
              <button type="button" class="btn btn-default mr-2"><</button>
              <button type="button" class="btn btn-default mr-2">></button>
          </div>
        </div>
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
          <div class="btn-group justify-content-end">
              <a href="#" class="btn btn-warning active" aria-current="page">Day</a>
              <a href="#" class="btn btn-warning">Week</a>
              <a href="#" class="btn btn-warning">Month</a>
              <a href="#" class="btn btn-warning">Year</a>
              <a href="#" class="btn btn-warning">Agenda</a>
              <a href="#" class="btn btn-warning">Timeline</a>
            </div>
        </div>
      </div>
</div>
<br>

      <!-- Default box -->
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 5%">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                         Team members
                         <tr><th></th></tr>
                      </th>
                      <th style="width: 50%;text-align: center;" >
                        Monday
<tr>
    <th style="width: 10%" >
        8:00
    </th>
    <th style="width: 10%" >
        9:00
    </th>
    <th style="width: 10%" >
        10:00
    </th>
    <th style="width: 10%" >
        11:00
    </th>
    <th style="width: 10%" >
        12:00
    </th>
    <th style="width: 10%" >
        13:00
    </th>
    <th style="width: 10%" >
        14:00
    </th>
    <th style="width: 10%" >
        15:00
    </th>
    <th style="width: 10%" >
        16:00
    </th>
    <th style="width: 10%" >
        17:00
    </th>
    <th style="width: 10%" >
        18:00
    </th>
</tr>
                     </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <a>
                              Mark 
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2019
                          </small>
                      </td>
                      <td>
                       <tr ng-click="setSelected();">
                        <td style="width: 10%;background-color: #ffc107; border-radius: 10%; height: 10%;  border-left: 2px solid #d39e00;
                        height: 3px;cursor: pointer;" draggable="true" >
                        
                          <div style="  resize: horizontal; overflow: auto;">
                          Breakfast
                          </div>
                        </td>
                        <td style="width: 10%;background-color: #f2f2f2;" data-toggle="modal" data-target="#exampleModal"  >
                         
                        </td>
                        <td style="width: 10%;color: aliceblue;background-color: #ff6207; border-radius: 20% 0% 0% 20%; border-left: 2px solid #d39e00;
                        height: 3px;cursor: pointer; " draggable="true">

                            Mission
                            
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207; border-radius: 0% 20% 20% 0%;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #f2f2f2;" >
                         
                        </td>
                        <td style="width: 10%;background-color:#0749ff;color: aliceblue ;border-radius: 1ch; border-left: 2px solid #3c1b9e;
                        height: 3px;cursor: pointer;" draggable="true">
                         Break
                        </td>

                       </tr>
                    </td>
                   
                  </tr>
                  <tr>
                      <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <a>
                              John
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2015
                          </small>
                      </td>
                      <td>
                        <tr>
                        <td style="width: 10%;background-color: #ffc107;border-radius: 20%; height: 10%;" >
                          Breakfast
                        </td>
                        <td style="width: 10%;background-color: #ffffff;;border-radius: 20%; " >
                         
                        </td>
                        <td style="width: 10%;background-color:#0749ff;color: aliceblue ;border-radius: 1ch;">
                            Break
                           </td>
                           <td style="width: 10%;background-color: #ffffff;;border-radius: 20%; " >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207; border-radius: 20% 0% 0% 20%;color: aliceblue">
                            Mission
                        </td>
                        <td style="width: 10%;background-color: #ff6207;border-radius: 0% 20% 20% 0%;">
                         
                        </td>
                        <td style="width: 10%;background-color: #ffffff;;border-radius: 20%; " >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207; border-radius: 20% 0% 0% 20%;color: aliceblue">
                         Mission
                        </td>
                        <td style="width: 10%;background-color: #ff6207;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ff6207; border-radius: 0% 20% 20% 0%;" >
                         
                        </td>
                        <td style="width: 10%;background-color: #ffffff;;border-radius: 20%; " >
                         
                        </td>


                       </tr>
                    </td>
                   
                  </tr>
                     

                  <tr>
                      <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <a>
                              Sana
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2018
                          </small>
                        </td>
                        <td>
                          <tr>
                          <td style="width: 10%;background-color: #ffc107;border-radius: 20%; height: 10%;" >
                            Breakfast
                          </td>
                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                          </td>
                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>
                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                          </td>
                          <td style="width: 10%;background-color:#0749ff;color: aliceblue ;border-radius: 1ch;">
                           Break
                          </td>

                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>
                        <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>
  
                         </tr>
                      </td>
                     
                    </tr>
                  <tr>
                      <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <a>
                              Ines
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2021
                          </small>
                        </td>
                        <td>
                          <tr>
                          <td style="width: 10%;background-color: #ffc107;border-radius: 20%; height: 10%;" >
                            Breakfast
                          </td>
                          <td style="width: 10%;background-color: #ffffff;" >
                           
                          </td>
                          <td style="width: 10%;background-color: #ff6207; border-radius: 20% 0% 0% 20%;color: aliceblue">
                              Mission
                          </td>
                          <td style="width: 10%;background-color: #ff6207;" >
                           
                          </td>
                          <td style="width: 10%;background-color: #ff6207;" >
                           
                          </td>
                          <td style="width: 10%;background-color: #ff6207;" >
                           
                          </td>
                          <td style="width: 10%;background-color: #ff6207; border-radius: 0% 20% 20% 0%;" >
                           
                          </td>
                          <td style="width: 10%;background-color: #ffffff;" >
                           
                          </td>
                          <td style="width: 10%;background-color:#0749ff;color: aliceblue ;border-radius: 20% 0% 0% 20%;">
                           Break
                          </td>
                          <td style="width: 10%;background-color:#0749ff;color: aliceblue ;border-radius: 0% 20% 20% 0%;">
                            
                           </td>
  
                         </tr>
                      </td>
                     
                    </tr>
                  <tr>
                      <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <a>
                              Sone
                          </a>
                          <br/>
                          <small>
                              Joined 01.01.2020
                          </small>
                        </td>
                        <td>
                          <tr>
                          <td style="width: 10%;background-color: #ffc107;border-radius: 20%; height: 10%;" >
                            Breakfast
                          </td>
                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                          </td>
                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>                          <td style="width: 10%;background-color: #f2f2f2;" >
                           
                        </td>
  
                         </tr>
                      </td>
                     
                    </tr>
                 
              </tbody>
          </table>
          <div class="btn float-right" >
            <a href="#" class="btn btn-warning " style="color:aliceblue;width: 120%;" data-toggle="modal" data-target="#exampleModal" >+ Ajouter</a>
          </div>
        </div>

        <!-- /.card-body -->
      </div>




        </div><!-- /.container-fluid -->
      </section>

      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajout / Creation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Technicien / Agent</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Foulen</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>          
          <div class="form-group">
            <label for="exampleInputPassword1">Timing</label><br>
            <input type="time"  style="width:100%" class="timeclass"
            min="09:00" max="18:00" required>         
           </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-warning">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
