    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Modifier l'événement: </h6>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label mb-2"><b>Titre:</b></label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext"  value="{{event.title}}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label mb-2"><b>Début:</b></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{event.startEvent}}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label mb-2"><b>Fin:</b></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{event.endEvent}}">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary" (click)="emitEvent()">Modifier</button>
      <button type="button" class="btn btn-sm btn-danger" >Supprimer</button>
    </div>
