<div>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Ajouter un événement: </h6>    
    <span (click)="closeCustom()" class="btn btn-default">x</span>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventForm" (ngSubmit)="save()">
      <div class="mb-3">
        <label for="Title" class="form-label">Titre:</label>
        <input
          type="text"
          class="form-control"
          id="Title"
          formControlName="Title"
        />
      </div>
      <div class="mb-3">
        <label for="Resource" class="form-label">Ressource: </label>
        <input
          type="text"
          class="form-control"
          id="Resource"
          formControlName="Resource"
          placeholder="{{resource}}"
        />
      </div>
      <div class="mb-3">
        <label for="eventType" class="form-label">Type: </label>
        <select class="form-select" id="eventType" formControlName="eventType">
          <option value="1">Travail</option>
          <option value="2">Pause</option>
          <option value="3">Déjeuner</option>
        </select>
        <input class="form-check-input m-2" type="checkbox" id="Reccurrent" formControlName="Reccurrent">
        <label class="form-check-label m-2" for="Reccurrent">Recurrent</label>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Début: </label>
        <input
          type="datetime-local"
          class="form-control"
          id="startEvent"
          formControlName="startEvent"
        />
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Fin: </label>
        <input
          type="datetime-local"
          class="form-control"
          id="endEvent"
          formControlName="endEvent"
        />
      </div>
      <div class="row">
        <div class="col">
            <div class="text-end">
                <button type="submit" class="btn btn-em btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>      
    </form>
  </div>

</div>