<div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Ajouter un événement: </h6>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label mb-2">Ressource: </label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" value="{{resource}}" >
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label mb-2">Titre:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" >
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label mb-2">Date:</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" value="{{date}}" >
            </div>
          </div>
          <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mb-2">Début:</label>
        <div class="col-sm-10">
          <input type="datetime" class="form-control" >
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mb-2">Fin:</label>
        <div class="col-sm-10">
          <input type="datetime" class="form-control" >
        </div>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" (click)="emitEvent()">Ajouter</button>
    <button type="button" class="btn btn-sm btn-danger" >Annuler</button>
  </div>
