<div style="zoom: 80%;">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Ajouter un événement: </h6>    
    <span (click)="closeCustom()" class="btn btn-default">x</span>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventForm" (ngSubmit)="save()">
      <div class="mb-3">
        <label for="Title" class="form-label">Titre:</label>
        <input
          type="text"
          class="form-control"
          id="Title"
          formControlName="Title"
        />
      </div>
      <div class="mb-3">
        <label for="Resource" class="form-label">Ressource: </label>
        <input
          type="text"
          class="form-control"
          id="Resource"
          formControlName="Resource"
          placeholder="{{resource}}"
        />
      </div>
      <div class="mb-3">
        <label for="eventType" class="form-label">Type: </label>
        <select class="form-select" formControlName="eventType" >
          <option selected >Travail</option>
          <option >Pause</option>
          <option >Déjeuner</option>
        </select>
        <input class="form-check-input m-2" type="checkbox" id="Reccurrent" formControlName="Reccurrent">
        <label class="form-check-label m-2" for="Reccurrent">Recurrent</label>
      </div>


        <div class="row">
          <div class="col-6">
            <label for="lastName" class="form-label">Début: </label>
            <input
              type="text"
              class="form-control"
              id="startEvent"
              formControlName="startEvent"
              placeholder="{{initialStartDay}}"
            />
          </div>
          <div class="col-3">
            <label for="lastName" class="form-label">Heure: </label>
            <select class="form-select" id="startHour" formControlName="startHour">
              <option selected>{{initialStartHour}}</option> 
                <ng-container *ngFor="let step of ['08','09','10','11']">                 
                    <option >{{step}}</option>
                  
                </ng-container>
              </select>
          </div>
          <div class="col-3">
            <label for="lastName" class="form-label">Quart: </label>
            <select class="form-select" formControlName="startQuart">
              <option selected>{{initialStartQuart}}</option>  
              <ng-container *ngFor="let step of [':00',':15',':30',':45',':60']">   
                            
                  <option >{{step}}</option>                
              </ng-container>
            </select>
          </div>
          </div>
<br>
          <div class="row">
            <div class="col-6">
              <label for="lastName" class="form-label">Fin: </label>
              <input
                type="text"
                class="form-control"
                id="endEvent"
                formControlName="endEvent"
                placeholder="{{initialEndDay}}"
              />
            </div>
            <div class="col-3">
              <label for="lastName" class="form-label">Heure: </label>
              <select class="form-select" id="endHour" formControlName="endHour">
                <option selected>{{initialEndHour}}</option> 
                  <ng-container *ngFor="let step of ['08','09','10','11']">                 
                      <option >{{step}}</option>
                    
                  </ng-container>
                </select>
            </div>
            <div class="col-3">
              <label for="lastName" class="form-label">Quart: </label>
              <select class="form-select" id="endQuart" formControlName="endQuart">
                <option selected>{{initialEndQuart}}</option> 
                <ng-container *ngFor="let step of [':15',':30',':45',':00']">                 
                    <option >{{step}}</option>
                  
                </ng-container>
              </select>
            </div>
            </div>
  
<hr>

      <div class="row">
        <div class="col">
            <div class="text-end">
                <button type="submit" class="btn btn-em btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>      
    </form>
  </div>

</div>