<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Description de l'événement</h6>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label"><b>Titre:</b></label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext"  value="{{event.title}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label"><b>Début:</b></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{event.startEvent | splitLast:' '}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label"><b>Fin:</b></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{event.endEvent | splitLast:' '}}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Modifier</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="modal.close('Save click')">Supprimer</button>
  </div>
</ng-template>

  
  <div *ngIf="event.index==index  && event.ressName==ressRef ;then inEvent else noEvent"></div>
  <ng-template #inEvent>
    <button class="event" (click)="open(mymodal,event,ressRef)" >{{event.title}}</button> 
  </ng-template>                         
  <ng-template #noEvent>
  <button class="noEvent" (click)="open(mymodal,event,ressRef)"></button>  
  </ng-template>              
             
